<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>
<body>
<script>
    // Notify parent window to reload
    if (window.parent) {
        window.parent.postMessage('reload', '*');
    } else {
        // Fallback if not in iframe
        window.location.href = '/quiz/list';
    }
</script>
</body>
</html>
